<div class="container-fluid">
    <h2>About</h2>
    <p>
        Massive Process ; worked for many years in the field, with our experienced 
        and expert staff needs of the sector quality, economic solutions to 
        implement international standards. It was established in 2012. Our company 
        to combine Experienced Staff of engineers and technicians and sensitivity 
        to closely technology, proceeds successfuly in this area.
        Our company has reailized on domestic and abroad with many huge and 
        important projects to producing high-quality software and automation 
        solutions in various sectors completed successfuly also continues to work 
        on new projects.
        On the direction and given the rapid developments in information and 
        communication technologies shape the work area, to follow the innovations 
        and practices the most important condition for the success of the Massive 
        Process. Also honesty and reliability are the principles of Massive Process.
        Industry solutions, IT expertise and technical services in the areas of 
        composition that we have, allows us to support our customers as long-term.
    </p>
    
    <h3>Vision</h3>
    <p>
        In the Industrial automation and software sectors, at domestic and abroad 
        among the most reputable companies. Discipline, our exemplary behavior 
        without compromising the principles of honesty, diligence and undertakes 
        quality projects. Technology use at the highest level, with Total Quality 
        products, services and projects to keep our customer satisfaction at the 
        highest level.
    </p>
    
    <h3>Mission</h3>
    <p>
        Timely, planned, optimal cost-effective way to achieve success. To meet the 
        needs of our customers to produce user-friendly and fully fuctional 
        solutions. Regularly growing to compete with our competitors also develop 
        and prosper as technical. And the best way to serve our customers in the 
        communities in which we found both. And the best way to serve our customers 
        as well as our people.
    </p>
    
    <h3>Our services</h3>
    <ul>
        <li>Consulting & Design</li>
        <li>Turnkey Automation System Applications</li>
        <li>Process Automation</li>
        <li>PLC Systems Configuration and Programming</li>
        <li>Panels Design / Installation</li>
        <li>Training Services</li>
        <li>Equipment Selection / Supply</li>
        <li>Installation and activation</li> 
    </ul>
</div>